In [1]:
students={'mark': 70, 'steven': 6, 'austin': 8, 'elvis': 10}
def avg(student_marks):
    return { student: sum(marks)/len(marks) if marks else 0 for student,marks in student_marks.items()}
avg(students)

TypeError: 'int' object is not iterable

In [11]:
def calculate_average_marks(students_marks):
    """
    Takes a dictionary where keys are student names and values are lists of marks.
    Returns a dictionary with the average marks of each student.
    """
    return {student: sum(marks) / len(marks) if isinstance(marks, int) else 0
            for student, marks in students_marks.items()}

# Example usage:
students ={'mark': 70, 'steven': 6, 'austin': 8, 'elvis': 10}

averages = calculate_average_marks(students)
print(averages)

TypeError: 'int' object is not iterable

In [12]:
def calculate_student_marks_and_overall_average(students_marks):
    total_marks = 0
    num_students = len(students_marks)
    student_results = {}
    
    if num_students == 0:
        return student_results, 0  # If there are no students, return empty results and 0
    
    for student, marks in students_marks.items():
        student_mark = marks[0]  # Assuming each student has exactly one mark
        student_results[student] = student_mark
        total_marks += student_mark
    
    overall_average = total_marks / num_students
    return student_results, overall_average

# Example usage:
students_marks = {
    "Alice": [85],
    "Bob": [92],
    "Charlie": [76],
    "Diana": [88]
}

student_results, overall_average = calculate_student_marks_and_overall_average(students_marks)
print("Student Marks:", student_results)
print("Overall Average:", overall_average)

Student Marks: {'Alice': 85, 'Bob': 92, 'Charlie': 76, 'Diana': 88}
Overall Average: 85.25

In [16]:
def calculate_overall_average_for_all(students_marks):
    total_marks = 0
    num_students = len(students_marks)
    
    if num_students == 0:
        return {}  # If there are no students, return an empty dictionary
    
    # Calculate the total marks

    for marks in students_marks.values():
        total_marks += marks[0] 

    for students,marks in students_marks.items():
        students_marks[students]=(marks[0]/total_marks)*100  # Assuming each student has exactly one mark
    
   

    return students_marks
    
    # Create a new dictionary where each student maps to the overall average
    # result = {student: overall_average for student in students_marks.keys()}
    
    # return result

# Example usage:
students_marks = {
    "Alice": [85],
    "Bob": [92],
    "Charlie": [76],
    "Diana": [88]
}

result = calculate_overall_average_for_all(students_marks)
print(result)

{'Alice': 24.926686217008797, 'Bob': 26.97947214076246, 'Charlie': 22.28739002932551, 'Diana': 25.806451612903224}

In [17]:
word_frequencies = {
    'apple': 5,
    'banana': 3,
    'cherry': 2,
    'date': 4,
    'elderberry': 1,
    'fig': 6,
    'grape': 3,
    'honeydew': 2,
    'kiwi': 4,
    'lemon': 3
}

In [30]:
#return 5 most frequent words



def five_most_frequent(wd):
    v=sorted(wd.items(), key= lambda item:item[1],reverse=True)[:5]
    return dict(v).keys()
five_most_frequent(word_frequencies)

dict_keys(['fig', 'apple', 'date', 'kiwi', 'banana'])

In [31]:
word_frequencies_1 = {
    'apple': 5,
    'banana': 3,
    'cherry': 2,
    'date': 4,
    'kiwi': 3
}


word_frequencies_2 = {
    'kiwi': 4,
    'grape': 3,
    'honeydew': 2,
    'date': 5,
    'lemon': 3
}

In [33]:
word_frequencies_1

{'apple': 5,
 'banana': 3,
 'cherry': 2,
 'date': 5,
 'kiwi': 4,
 'grape': 3,
 'honeydew': 2,
 'lemon': 3}

In [40]:
data = {
    'list1': [1, 2, 3, 4, 5],
    'list2': [6, 7, 8, 9, 10]
}

In [41]:
list1

NameError: name 'list1' is not defined

In [ ]:

Given two lists, write a function to return a set of common elements.


list1 = [1, 2, 3, 4, 10]
list2 = [6, 7, 8, 9, 10]

intersectionn=set(list1).intersection(set(list2))

In [ ]:
if bool(intersectionn)

True

In [46]:
def find_common_elements(list1, list2):
    v= set(list1).intersection(set(list2))
    if bool(v)==True:
        return False
    else:
        return True

# Example usage:
list1 = [1, 2, 3, 4, 1]
list2 = [6, 7, 8, 9, 10]

# Get common elements
common_elements = find_common_elements(list1, list2)
print(common_elements)

True

In [56]:
def palindrome(word):
    if len(word)<3: return True
    if word[0]!=word[-1]: return False
    return palindrome(word[1:-1])




string='hehehehehehh'
palindrome(string)

False

In [19]:
dict1 = {'a': 1, 'b': {'x': 10, 'y': 20}, 'c': 3}
dict2 = {'b': {'y': 25, 'z': 30}, 'c': 4, 'd': 5}

In [20]:
dict1

{'a': 1, 'b': {'x': 10, 'y': 20}, 'c': 3}

In [21]:
def merge(d1,d2):

    for key, value in d2.items():
        if key in d1 and isinstance(d1[key],dict) and isinstance(value,dict):
            d1[key]=merge(d1[key],value)
        else:
            d1[key]=value
    
    return d1
      

v=merge(dict1,dict2)

In [22]:
v

{'a': 1, 'b': {'x': 10, 'y': 25, 'z': 30}, 'c': 4, 'd': 5}

In [24]:
dict1

{'a': 1, 'b': {'x': 10, 'y': 25, 'z': 30}, 'c': 4, 'd': 5}

In [25]:
data = [
    ('Fruits', 'Apple'),
    ('Fruits', 'Banana'),
    ('Fruits', 'Apple'),
    ('Vegetables', 'Carrot'),
    ('Vegetables', 'Carrot'),
    ('Vegetables', 'Spinach')
]

In [49]:
dic={}
for cat,itm in data:
    if cat not in dic:
        dic[cat]={}
    if itm not in dic[cat]:
        dic[cat][itm]=0
    dic[cat][itm]+=1

In [50]:
dic

{'Fruits': {'Apple': 2, 'Banana': 1},
 'Vegetables': {'Carrot': 2, 'Spinach': 1}}

In [55]:
'Fruits' in dic

True

In [60]:
new_dict={}

for cat,itm in data:
    if cat not in new_dict:
        new_dict[cat]={}
    if itm not in new_dict[cat]:
        new_dict[cat][itm]=0
    new_dict[cat][itm]+=1

In [61]:
new_dict

{'Fruits': {'Apple': 2, 'Banana': 1},
 'Vegetables': {'Carrot': 2, 'Spinach': 1}}

In [76]:
nested_dict = {'a': {'b': 1, 'c': 2}, 'd': 3}

def flatten(dct):
    flat_dict = {}  # New dictionary to store the result
    for key, val in dct.items():
        if isinstance(val, dict):
            for sub_key, sub_val in val.items():
                flat_dict[f"{key}_{sub_key}"] = sub_val
        else:
            flat_dict[key] = val
    return flat_dict

print(flatten(nested_dict))

{'a_b': 1, 'a_c': 2, 'd': 3}

In [113]:
from collections import defaultdict

def anagram(words):
    anagram_wording=defaultdict(list)

    for word in words:
        word_values=''.join(sorted(word))
        anagram_wording[word_values].append(word)
    print(anagram_wording.values())


anagram(words)

dict_values([['listen', 'silent', 'enlist'], ['eat', 'tea', 'ate'], ['bat']])

In [109]:
words

['listen', 'silent', 'enlist', 'eat', 'tea', 'ate', 'bat']

In [145]:
documents = [
    "the cat sat on the mat",
    "the dog barked at the cat",
    "the bird chirped on the tree"
]

In [146]:
documents

['the cat sat on the mat',
 'the dog barked at the cat',
 'the bird chirped on the tree']

In [157]:
def worder(doc):
    dp=defaultdict(list)
    for i in range(len(doc)):
        for j in set(doc[i].split()):
                dp[j].append(i)
            
            
    
    return dp
            
        
            
        

worder(documents)

defaultdict(list,
            {'mat': [0],
             'on': [0, 2],
             'sat': [0],
             'the': [0, 1, 2],
             'cat': [0, 1],
             'barked': [1],
             'dog': [1],
             'at': [1],
             'chirped': [2],
             'bird': [2],
             'tree': [2]})

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'a': 1, 'b': 2, 'c': 3}

all( item in large_dict.items() for  item in small_dict().items())

True

In [27]:
data = {'Alice': 85, 'Bob': 90, 'Charlie': 85, 'David': 95}


sorted_dict=sorted(data.items() ,key= lambda x:(x[1],x[0]),reverse=True)

In [28]:
sorted_dict

[('David', 95), ('Bob', 90), ('Charlie', 85), ('Alice', 85)]

In [53]:
tuples = [(1, 2, 3), (2, 3, 4), (2, 3, 5)]

#{set(tuples[i])  &  set(tuples[i+1]) for i in range(len(tuples)-1)}
{set(tuples[i]) & set(tuples[i + 1]) for i in range(len(tuples) - 1)}

TypeError: unhashable type: 'set'

In [52]:
for i in range(len(tuples)-1):
    print(i)

0
1

In [54]:
tuples = [(1, 2, 3), (2, 3, 4), (2, 3, 5)]

# Create a set of intersections of consecutive tuples
result = {set(tuples[i]) & set(tuples[i + 1]) for i in range(len(tuples) - 1)}

print(result)

TypeError: unhashable type: 'set'

In [55]:
tuples = [(1, 2, 3), (2, 3, 4), (2, 3, 5)]

# Create a set of intersections of consecutive tuples using frozenset
result = {frozenset(set(tuples[i]) & set(tuples[i + 1])) for i in range(len(tuples) - 1)}

print(result)

{frozenset({2, 3})}

In [ ]:
tuples = [(1, 2, 3), (2, 3, 4), (2, 3, 5)]

# Find the intersection of all tuples
result = set(tuples[0])  # Start with the first tuple
for t in tuples[1:]:
    result &= set(t)  # Intersect with the rest of the tuples

print(result)

{2, 3}

In [59]:
result=set(tuples[0])
for t in tuples[1:]:
    result&=set(t)
print(result)

{2, 3}

In [79]:
data = [(1, 2), (3, 4), (1, 2), (5, 6), (1, 2), (3, 4)]
 
dict_p={}
for t in data:
    if t not in dict_p:
        dict_p[t]=1
    else:
        dict_p[t]+=1
print(next(iter(dict_p)))

(1, 2)

In [84]:
data = [[('a', 1), ('b', 2)], [('c', 3), ('d', 4)]]

In [94]:
p=[ x for z in data for x in z]

In [95]:
p

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [102]:
data = [1, 2, 2, 3, 1]
list(dict.fromkeys(data))

[1, 2, 3]

In [97]:
set(data)

{1, 2, 3}

In [1]:
nums = [1, 2, 3, 4, 5, 6, 7]
target = 7

ls=[]
for i in nums:
    if (target-i) in nums:
        ls.extend([[i,target-i]])

ls=[tuple(pair) for pair in ls]

In [2]:
ls

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

In [3]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [6]:
list2 and list1

[1, 2, 3, 4, 5]

In [7]:
pq=[]

for i in list1:
    if i in list2:
        pq.append(i)
print(pq)

[3, 4, 5]

In [42]:
data = [(1, 2), (3, 4), (1, 4)]

In [46]:
data = [1, 2, 3]

In [51]:
ls=[[]]
for i in data:
    ls.append([i])
    for i in range(len(data)-1):
        ls.append([ls[i-1],ls[i]])

ls

[[],
 [1],
 [[1], []],
 [[], [1]],
 [2],
 [[2], []],
 [[], [1]],
 [3],
 [[3], []],
 [[], [1]]]

In [58]:
data=[1,2,3]

def generate_subsets(data):
    subsets=[[]]
    for num in data:
        subsets+=[subset+ [num] for subset in subsets]
    return subsets

In [59]:
generate_subsets(data)

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [61]:

ls=[]
data = [1, 2, 3, 1, 4, 5, 2, 6]

for i in data:
    if i not in ls:
        ls.append(i)